.container {
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 100px 200px 100px;
    column-gap: 30px;
    row-gap: 30px;
    :hover{
        row-gap: 0;
        column-gap: 0;
        position: relative;
        color:aqua;
        object-position: 50% 50%;
    }
}

.btn {
  position: relative;
}

.selected {
    color: red;
}