<p>{{test}}</p>
<div>
    <label for="name">Hero name: </label>
    <input id="name" [(ngModel)]="test" (ngModelChange)="filter($event)" placeholder="name">
</div>

<h2>Jouyou kanji list</h2>

<app-character-details [character]="selectedCharacter"></app-character-details>

<ul class="heroes btns" class="container">
    <div class="btn-container" *ngFor="let kan of filteredKanjis">
        <button 
            [class]="'btn btn'+kan.nr" 
            type="button" 
            [class.selected]="kan === selectedCharacter"
            (click)="onSelect(kan)"
            (mouseenter)="onMouseEnter(kan)"
            (mouseleave)="onMouseLeave(kan)"
        >
            <span class="kanji">{{kan.New}}</span>
            <div [class]="'details details'+kan.nr">
              <div [class]="'meaning meaning'+kan.nr" >{{kan.English_meaning}}</div>
              <div [class]="'reading reading'+kan.nr" >{{kan.Readings_kana}}</div>
              <div [class]="'strokes strokes'+kan.nr" >Strokes: {{kan.Strokes}}</div>
              <div [class]="'grade grade'+kan.nr" >Grade: {{kan.Grade}}</div>
          </div>
        </button>
    </div>
</ul>